<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.pk">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.MenuActivity"
            android:label="@string/title_app"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.LoginActivity" />
        </activity>
        <activity
            android:name=".PasswordChangeActivity"
            android:label="@string/title_activity_password_change"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.LoginActivity" />
        </activity>
        <activity
            android:name=".lecturer.LecturerMenuActivity"
            android:label="@string/title_app"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.LoginActivity" />
        </activity>
        <activity
            android:name=".employee.EmployeeMenuActivity"
            android:label="@string/title_app"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.LoginActivity" />
        </activity>
        <activity
            android:name=".student.mydata.MyDataActivity"
            android:label="Moje Dane"
            android:parentActivityName=".student.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.student.MenuActivity" />
        </activity>
        <activity
            android:name=".employee.AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
        <activity
            android:name=".employee.AddEmployeeActivity"
            android:label="@string/title_activity_add_employee"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
        <activity
            android:name=".employee.AddLecturerActivity"
            android:label="@string/title_activity_add_lecturer"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
        <activity
            android:name=".lecturer.EnterTheGradeActivity"
            android:label="@string/title_app"
            android:parentActivityName=".lecturer.LecturerMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.lecturer.LecturerMenuActivity" />
        </activity>
        <activity
            android:name=".employee.AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
        <activity
            android:name=".student.dormitory.MenuDormitoryActivity"
            android:label="@string/title_activity_menu_dormitory"
            android:parentActivityName=".student.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.student.MenuActivity" />
        </activity>
        <activity
            android:name=".student.dormitory.ApplicationForADormitoryActivity"
            android:label="@string/title_activity_menu_dormitory"
            android:parentActivityName=".student.dormitory.MenuDormitoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.student.dormitory.MenuDormitoryActivity" />
        </activity>
        <activity
            android:name=".employee.WaitingRoomActivity"
            android:label="@string/title_activity_waiting_room"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
        <activity
            android:name=".student.dormitory.ReservationsActivity"
            android:label="@string/title_activity_menu_dormitory"
            android:parentActivityName=".student.dormitory.MenuDormitoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.student.dormitory.MenuDormitoryActivity" />
        </activity>
        <activity
            android:name=".student.dormitory.AccomodationActivity"
            android:label="@string/title_activity_menu_dormitory"
            android:parentActivityName=".student.dormitory.MenuDormitoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.student.dormitory.MenuDormitoryActivity" />
        </activity>
        <activity
            android:name=".employee.AssignADormActivity"
            android:label="@string/title_app"
            android:parentActivityName=".employee.WaitingRoomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.WaitingRoomActivity" />
        </activity>
        <activity
            android:name=".employee.AddFieldOfStudyActivity"
            android:label="@string/title_activity_add_field_of_study"
            android:parentActivityName=".employee.EmployeeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edu.pk.employee.EmployeeMenuActivity" />
        </activity>
    </application>

</manifest>